* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Open Sans', sans-serif;
}
.container {
    margin: 0 auto;
    width: 1400px;
}

/* NAVEGACION INICIO*/

nav {
    /* border: 1px solid pink; */
    width: 100%;  
    display: flex;
}
.nav-container {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    /* border: 1px solid yellow; */
}
.img-logo {
    height: 40px;
    /* border: 1px solid red; */
}
.text-nav {
    font-family: 'Raleway', sans-serif;
    color: hsl(243, 87%, 12%);
    display: flex;
    align-items: center;
    /* border: 1px solid blue; */
}

.text-nav ul {
    display: flex;
}
.text-nav ul li {
    list-style: none;
    margin-left: 60px;
    /* border: 1px solid green */
}

/* NAVEGACION FIN*/

/* HERO INICIO */

.hero-container {
    margin-top: 110px;
    display: flex;
    align-items: center;
}
.text-hero-container {
    width: 70%;
    color: hsl(243, 87%, 12%);
}
.text-hero-container h1 {
    line-height: 60px;
    font-family: 'Raleway', sans-serif;
    font-size: 2.7em;
    padding-bottom: 10px;
}
.text-hero-container p {
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 1.2em;
}
.get-started {
    display: flex;
    align-items: center;
}
.get-started input {
    /* border-radius: 5px; */
    margin-right: 7px;
    width: 40%;
    height: 35px;
    padding-left: 15px;
    color:  hsl(238, 22%, 44%);
    outline: none;
}
.get-started a {
    margin-left: 7px;
    font-weight: 700;
    font-size: .85em;
    font-family: 'Raleway', sans-serif;
    padding: 12px 60px;
    border-radius: 3px;
    text-decoration: none;
    background: hsl(224, 93%, 58%);
    color: hsl(240, 75%, 98%);

}
.get-started a:hover {
    box-shadow: 3px 3px 10px -2px rgba(0,0,0,0.5);
}
.img-hero-container {
    width: 82%;
    display: flex;
    justify-content: center;
}
.img-hero-container img {
    width: 90%;
}

/* HERO FIN */

/* STAY INICIO */

.stay-productive {
    margin-top: 250px;
    padding-top: 100px;
    background-color: #f8f8fe;
    /* background-image: url('/images/bg-curve-desktop.svg'); */
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
}
.svg-stay {
    width: 100%;
    position: absolute;
    top: -114px;
}
.stay-container {
    display: flex;
    align-items: center;
}
.img-stay-container {
    width: 82%;
    display: flex;
    justify-content: center;
}
.img-stay-container img {
    width: 90%;
}
.stay-text {
    /* border: 1px solid red; */
    width: 100%;
    color: hsl(243, 87%, 12%);
}
.stay-text h2 {
    /* border: 1px solid blue; */
    line-height: 60px;
    font-family: 'Raleway', sans-serif;
    font-size: 2.7em;
    padding-bottom: 10px;
}
.stay-text p {
    /* border: 1px solid green; */
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 1.2em;
}
.stay-text a {
    font-size: 1.2em;
    color: hsl(170, 45%, 43%);
    text-decoration: none;
    padding-right: 20px;
    padding-bottom: 4px;
    background-image: url(/images/icon-arrow.svg);
    background-repeat: no-repeat;
    background-position: right center;
    border-bottom: 1px solid;
}
.testimonial-card {
    background-image: url(/images/icon-quotes.svg);
    background-repeat: no-repeat;
    background-position: 30px 30px;
    background-size: 20px;
    border-radius: 10px;
    padding: 60px 30px 30px 30px;
    margin-top: 40px;
    width: 340px;
    box-shadow: 4px 2px 23px -7px rgba(0,0,0,0.75);
}
.testimonial-avatar {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.testimonial-avatar img {
    border-radius: 50%;
    width: 40px;
}
.avatar {
margin-left: 10px;
}
.avatar h3 {
    font-size: 1em;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}
.avatar span {
    font-size: .8em;
    font-weight: 400;
}
/* STAY FIN */