* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Open Sans', sans-serif;
}
.container {
    margin: 0 auto;
    width: 1400px;
}

/* NAVEGACION INICIO*/

nav {
    /* border: 1px solid pink; */
    width: 100%;  
    display: flex;
}
.nav-container {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    /* border: 1px solid yellow; */
}
.img-logo {
    height: 40px;
    /* border: 1px solid red; */
}
.text-nav {
    font-family: 'Raleway', sans-serif;
    color: hsl(243, 87%, 12%);
    display: flex;
    align-items: center;
    /* border: 1px solid blue; */
}

.text-nav ul {
    display: flex;
}
.text-nav ul li {
    list-style: none;
    margin-left: 60px;
    /* border: 1px solid green */
}

/* NAVEGACION FIN*/

/* HERO INICIO */

.hero-container {
    display: flex;
    align-items: center;
}
.text-hero-container {
    width: 70%;
    color: hsl(243, 87%, 12%);
}
.text-hero-container h1 {
    line-height: 60px;
    font-family: 'Raleway', sans-serif;
    font-size: 2.7em;
    padding-bottom: 10px;
}
.text-hero-container p {
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 1.2em;
}
.get-started {
    display: flex;
    align-items: center;
}
.get-started input {
    /* border-radius: 5px; */
    margin-right: 7px;
    width: 40%;
    height: 35px;
    padding-left: 15px;
    color:  hsl(238, 22%, 44%);
    outline: none;
}
.get-started a {
    margin-left: 7px;
    font-weight: 700;
    font-size: .85em;
    font-family: 'Raleway', sans-serif;
    padding: 12px 60px;
    border-radius: 3px;
    text-decoration: none;
    background: hsl(224, 93%, 58%);
    color: hsl(240, 75%, 98%);
}
.img-hero-container {
    width: 82%;
    display: flex;
    justify-content: center;
}
.img-hero-container img {
    width: 90%;
}

/* HERO FIN */